
.idea/.name

.idea/.name

.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/NanoPeakCell.iml

.idea/vcs.xml

.idea/workspace.xml

NPC/.DS_Store

NPC/gui_wx/Headers.py

NPC/gui_wx/mynormalize.py

NPC/gui_wx/peakfind.py

NPC/gui_wx/NanoPeakCellGui.py

NPC/.DS_Store

NPC/gui_wx/cmap.lst

NPC/gui/test.py

NPC/gui/test2.ui

NPC/gui/refined.geom

NPC/gui_wx/peakfind.pyc

NPC/gui_wx/npg

NPC/gui_wx/Headers.pyc

build/lib/NPC/gui_wx/mynormalize.py

NPC/gui_wx/mynormalize.pyc

NPC/.DS_Store
